#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    transition: all 0.3s;
    position: fixed;
    z-index: 1000;
}

#sidebar.collapsed {
    margin-left: -250px;
}

#content {
    margin-left: 250px;
    transition: all 0.3s;
    position: fixed;
    z-index: 1000;
}

#content.collapsed {
    margin-left: 0;
    position: fixed;
    z-index: 1000;
}

.sidebar-header {
    padding: 10px;
    background: linear-gradient(135deg, #7c09f7 0%, #0c61f6 100%);
    text-align: center;
}

.nav-link {
    color: white;
}